.expanded-item-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
}

.expanded-item-container input {
  height: 40px;
  padding: 10px;
}

.priority-box {
  display: flex;

}
.priority-btn {
  text-wrap: nowrap;
  font-size: 1vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#confirm-btn {
  margin-top: 10px;
  min-height: 30px;
}

.selected {
  border: 2px solid salmon;
}
