.expanded-item-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
}

.expanded-item-container input {
  height: 40px;
  padding: 10px;
}

.priority-box {
  display: flex;

}
.priority-btn {
  text-wrap: nowrap;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

