form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 500px;
  /* border: 2px solid red; */
}

.form-field {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
}

form label {
  /* border: 2px solid blue; */
}

form input {
  min-height: 25px;
}
