main {
  display: flex;
  background-color: pink;
}

.lists-box {
  height: 100%;
  border: 2px solid blue;
}

.list-container {
  border: 2px solid brown;
}

.list-container button {
  width: 100%;
  min-height: 30px;
}

.todo-item {
  border: 2px solid black;
}
