* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button:hover {
  cursor: pointer;
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: 200px 1fr ;
  grid-template-rows: 100px 1fr 50px;
  grid-template-areas:
   'nav header header'
   'nav main main'
   'footer footer footer'
}

header {

  grid-area: header;
}

nav {
  grid-area: nav;
}

nav h1 {
  height: 100px;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}


input:focus {
  border: 1px solid purple;
}
