* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  padding: 5px 10px;
  background-color: white;
  border: 1px solid lightblue;
  border-radius: 5px;
}

button.selected {
  background-color: rgb(225, 228, 247);
}

button:hover {
  cursor: pointer;
  background-color: lightgrey;
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: 200px 1fr ;
  grid-template-rows: 100px 1fr 50px;
  grid-template-areas:
   'nav main main'
   'nav main main'
   'nav main main'
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.expand-section {
  border-left: 1px solid gray;
}

footer {
  grid-area: footer;
}

.priority-icon {
  max-height: 20px;
}

/* green */
.low-priority {
  filter: invert(50%) sepia(100%) saturate(1000%) hue-rotate(80deg);
}

/* orange */
.med-priority {
  filter: invert(50%) sepia(100%) saturate(1000%) hue-rotate(5deg) brightness(130%);
}

/* red */
.high-priority {
  filter: invert(50%) sepia(100%) saturate(10000%) hue-rotate(340deg) brightness(100%);
}




