:root {
  --border-radius: 5px
}

.items-section {
  display: flex;
  flex-direction: column;
}

.new-task-box, .items-box {
  padding: 10px;
}

.items-box {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-wrap: nowrap;
}

.item-left-div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 5px;
  border: 1px solid black;
  border-radius: var(--border-radius);
}

.item-due-date {
  font-size: small;
}

.new-task-box {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 50px;
}

.new-task-box input {
  font-size: medium;
  padding: 0px 15px;
  border-radius: var(--border-radius) 0px 0px var(--border-radius);
  border-right: none;
}

.new-task-box button {
  /* background-color: white; */
  font-size: large;
  border-radius: 0px var(--border-radius) var(--border-radius) 0px;
}

.new-task-box input:focus + .new-task-box button {
  background-color: aqua;
}

.new-task-box button:hover {
  background-color: lightgray;
}
