main {
  display: flex;
  background-color: pink;
}

.lists-nav {
  height: 100%;
  border: 2px solid blue;
}

.list-container {
  border: 2px solid brown;
}

.list-container button {
  width: 100%;
  min-height: 30px;
}

.todo-item {
  border: 2px solid black;
}

.new-list-box {
  min-height: 30px;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

