:root {
  --border-radius: 5px
}

.tasks-section {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.tasks-box {
  display: flex;
  flex-direction: column;
  text-wrap: nowrap;
  gap: 5px;
}

.task-info-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 5px;
  border: 1px solid black;
  border-radius: var(--border-radius);
}

.strike {
  text-decoration: line-through;
}

.task-due-date {
  font-size: small;
}

#delete-list {
  /* background-color: pink; */
  position: absolute;
  bottom: 20px;
}

.new-task-box {
  display: grid;
  margin: 10px 0px;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 50px;
}

.new-task-box input {
  font-size: medium;
  padding: 0px 15px;
  border-radius: var(--border-radius) 0px 0px var(--border-radius);
  border-right: none;
}

.new-task-box button {
  /* background-color: white; */
  font-size: large;
  border-color: black;
  border-radius: 0px var(--border-radius) var(--border-radius) 0px;
}

.new-task-box input:focus + .new-task-box button {
  background-color: aqua;
}

.new-task-box button:hover {
  background-color: lightgray;
}
